body {
	background-image: url('../assets/Background_Blue.png');
  background-color: #64c5e4;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -500px;
	overflow: hidden;
	font-family: helvetica, sans-serif;
  margin-left: 0px;
}
footer {
  left: 0px;
  width: 100%;
  z-index: -10;
  position: absolute;
  margin-top: -20rem;
}
@media only screen and (max-width: 800px) {
  footer {
    margin-top: -10rem;
  }
}
.footer {
  width: 100%;
}
.logo {
	position: relative;
	top: 0.5em;
	left: 1em;
}
.logo img {
	width: 400px;
}
#city {
	width: 120%;
    position: absolute;
    bottom: -6em;
    left: -100px;
}
.post {
	position: relative;
	margin-left: 1em;
}
content a:visited {
	color: white;
}
content a {
	color: white;
}
nav {
	position: relative;
  float: right;
	top: 1em;
}

button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

content {
	margin-left: 2em;
	margin-top: 2.5em;
	color: white;
	line-height: 1.5em;
	width: 80%;
  display: inline-block;
  min-height: calc(85vh - 40px);
}

.cssanimation, .cssanimation span {
    animation-duration: 3s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.dataTiles {
  width: 100%;
  display: inline-block;
  background-color: lightgray;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.toolCardContainers {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.toolCardContainer {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.toolCardContainer_two {
  width: 30%;
  min-width: 250px;
}
.toolCardContainer_three {
  width: 80%;
}
.toolCardContainer h2 {
  margin-top: 0.3rem;
}
.toolCardContainer_two container {
  display: inline-block;
  width: 45%;
  text-align: center;
}
.toolCardContainer_three container {
  display: inline-block;
  width: 32%;
  text-align: center;
}
.toolCardContainer container img {
  max-width: 90%;
}
.half {
  display: inline-block;
  vertical-align: middle;
}
.half img {
  max-width: 100%;
}
@media only screen and (max-width: 1200px) {
  body {
    background-position-y: -200px;
  }
  #city {
    bottom: -5em;
  }
  .cont-video {
    height: calc(100vh - 300px);
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  #city {
    bottom: -4em;
    content:url("../assets/Foreground_Zoom.png");
    left: 0;
    width: 100%;
    bottom: 0;
  }
  .cont-video {
    height: calc(100vh - 510px);
    width: 100%;
  }
}
@media only screen and (max-width: 760px) and (-webkit-device-pixel-ratio : 3) {
  nav {
    text-align: center;
  }
  nav .button {
    margin-bottom: 10px;
  }
  content {
    width: inherit;
  }
  .cont-video {
    height: calc(100vh - 620px);
    width: 100%;
  }
}