---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-success;
  background-image: url('/assets/images/backgrounds/background.jpg');

  opacity: 1;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: $gray-light;
  }

  a:hover {
    text-decoration: none;
  }
}

.attribution {
  font-size: 0.7em;
}

/* Header styles
-------------------------------------------------- */

$header-height: 250px;

.header {
  top: 0;
  width: 100%;

  background: $brand-primary;
  background-image: url('/assets/images/header.jpg');
  height: $header-height;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;

  .logo {
    width: 100%;
    height: auto;
  }

  p {
    text-transform: uppercase;
    text-align: right;
  }

  .slogan {
    font-size: 3em;
    color: $brand-primary;
    font-family: $font-family-slogan;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

/* End header */

nav {
  margin: 0px;
  margin-top: -25px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: $brand-primary;
}

.navbar {
  background-color: $brand-info;
  border: 0px;
}

.faq {
  dt {
    width: 400px;
    padding-right: 20px;
  }
  dd {
    color: $brand-success;
  }
}


/* Venn diagram */

div.venn {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  color: #fff;
  padding-top: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  word-spacing: 100px;
  list-style: none;
}

.one { background-color: #00B7FF; }
.two { background-color: #E6007C; opacity:0.6; margin-left: -20px; }

div.break {
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  clear: both;
}
.blog-archive {
  dt {
    font-size: 2em;

  }
  dd {
    font-size: 1em;
  }
}
